.footer {
  font-family: BLotus, "BLotus", tahoma !important;
  width: 98%;
  height: 390px; /* Height of the footer */
  background: rgb(245, 245, 245);
  direction: rtl;
  // position: relative;
  // bottom: 0;
  padding: 8px 14px;

  section {
    width: 70%;
    .title {
      color: #733ddc;
      font-weight: 600;
      margin-right: 10px;
    }

    .info {
      font-family: BLotus, "BLotus", tahoma;
      color: #a1a2a1;
      font-weight: bolder;
      font-size: 20px;
    }

    .markting {
      color: #707070;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .markIcon {
        cursor: pointer;
        border-radius: 50%;
        transition: all 0.4s;
        margin-bottom: 30px;
        width: 33px;
        height: 33px;
        padding: 4px 4px;
      }
      .markIcon:hover {
        background-color: #55545441;
        border-radius: 50%;
      }
    }

    h4 {
      color: #737381;
      margin-top: -8px;
      padding-bottom: 12px;
    }
  }

  @media screen and (max-width: 768px) {
    height: 600px !important;

    section {
      width: 100%;
      padding: 6px 12px;
    }
  }
}
