.list {
  width: 100%;

  .listTitle {
    margin-left: 30px;
    font-size: 25px;
  }
  .wrapper {
    position: relative;
    .slider {
      width: 50px;
      height: 50px;
      padding: 8px;
      background-color: rgb(196, 196, 196);
      position: absolute;
      z-index: 99;
      border-radius: 5px;
      cursor: pointer;
      margin: auto;

      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      width: max-content;
      margin-top: 12px;
      transition: all 0.5s ease;
      user-select: none;
    }
  }
}
