.listItem {
  width: 225px;
  height: 120px;
  background-color: white;
  margin-right: 6px;
  margin-bottom: 30px;
  overflow: hidden;
  &:hover {
    width: 275px;
    height: 180px;
    position: relative;
    top: -20px;
    transition: width 0.5s;
    box-shadow: 4px 4px 6px rgba(61, 50, 50, 0.26);
    border-radius: 6px;
    img {
      height: 160px;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // position: relative;
    cursor: pointer;
    transform: scale(1);
    // transition: all 0.3s;

    // &:hover {
    //   transform: scale(1.1);
    // }
  }
  video {
    width: 290px;
    height: 180px;
    object-fit: cover;
    position: absolute;
    // transition: all 0.3s;
    left: 0;
    top: 0px;
    cursor: pointer;
  }
  .itemInfo {
    .icons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      top: 90px;
      background: rgba(255, 255, 255, 0.404);
      padding: 5px 9px;
      border-radius: 0 8px 8px 0px;
      // top: 20px;
      div {
        cursor: pointer;
        transform: scale(0.9);
        transition: all 0.2s;

        &:hover {
          transform: scale(1.6);
        }
      }
    }
  }
}
