.navbar {
  width: 100%;
  height: 90px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px 9px;
  box-shadow: 0 5px 28px #d1d5db;
  position: fixed;
  top: 0;
  z-index: 999;

  .profile {
    display: flex;
    justify-content: center;
    align-items: center;

    .avatar {
      width: 45px;
      height: 45px;
      margin-right: 15px;
      cursor: pointer;
    }

    .shopingCard {
      width: 25px;
      height: 25px;
      color: #733dd8;
      cursor: pointer;
    }
  }

  .navList {
    display: flex;
    justify-content: center;
    align-items: center;

    .listBox {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;

      .list {
        margin: 5px;
        cursor: pointer;
        transition: all 0.1s ease;
        color: #777777;
        font-weight: 600;
      }
      .list:hover {
        background-color: #733dd8;
        padding: 5px 10px;
        border-radius: 5px;
        color: #fff;
      }
    }
  }

  .menuBox {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  @media screen and (max-width: 768px) {
    .menuBox {
      display: flex;
      color: #733dd8;
      z-index: 999;
      cursor: pointer;
    }

    .navList {
      .imageBox {
        display: none;
      }

      .listBox {
        height: 0;
        widows: 100%;
        transition: height 0.2s;
        display: none;
        margin-right: 23px;
      }

      .responsive {
        height: 200px;
        transition: height 0.2s;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        position: absolute;
        flex-flow: column-reverse;
        top: 0;
        background-color: #fff;
        width: 100%;
        margin-top: 90px;
      }

      .list {
        width: 90%;
        margin: 34px;
      }

      .list:hover {
        width: 90%;
      }
    }
  }
}
